.weathernews-container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notes-container{
    width: 13rem;
    height: 17rem;
    border-radius: 19px;
    background: #F1C75B;
    position: absolute;
    top: 0px;
    left: 20rem;
}
.notes-container > textarea{
    width: 80%;
    height: 75%;
    background-color: inherit;
    position: relative;
    top : 2rem;
    left: 1.2rem;
    color : #000;
    font-size: 14px;
    letter-spacing: 0.84px;
    border: none;
    outline: none;
    resize: none;
}

.notes-container > h1{
    color : #000;
    font-size: 1.2rem;
    left: 20px;
    font-weight: 600;
    top: 15px;
    position: relative;
    letter-spacing: 0.76px;
}

.weathernews-left{
    width: 55%;
    height: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.timer-container{
    width: 78%;
    height: 40%;
    border-radius: 19px;
    background-color: #1E2343;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.timer-container .timercountdown-cont{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.timer-container .timercountdown-cont img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.timer-container .settimer-cont{
    width: 16rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
}

.timer-container .settimer-cont .top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timer-container .settimer-cont .top h2{
    color: #949494;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.04px;
}

.timer-container .settimer-cont .middle{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.timer-container .settimer-cont .middle h2{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}

.timer-container .settimer-cont .bottom{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.timer-container .settimer-cont .bottom button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    background: #FF6A6A;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    letter-spacing: 1.24px;
}

.weathernews-lefttop{
    width: 45%;
    height: 40%;
    border-radius: 19px;
    background: #5746EA;
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.weathernews-lefttop div{
    width: 25%;
    height: 90%;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.weathernews-lefttop div img{
    height: 100%;
    width: 100%;
}

.weathernews-lefttop .userdetail{
    margin-top: 1rem;
    margin-left: 1rem; 
}

.weathernews-lefttop .userdetail h2{
    font-family: Roboto;
    font-size: 0.8rem;
    font-weight: 400;
    min-width: 5rem;
    margin-bottom: 6px;
    letter-spacing: 0.739px;
}

.weathernews-lefttop .userdetail h1{
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.443px;
    z-index: 2;
}

.weathernews-lefttop .catdetail{
    width: 60%;
    height: 40%;
    position: absolute;
    top:4.3rem;
    overflow: auto;
    /* background-color: yellow; */
    left: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.weathernews-lefttop .catdetail button{
    background-color: #9F94FF;
    font-weight: 400;
    width: 4rem;
    height: 1.4rem;
    margin: 10px;
    font-size: 0.5rem;
    letter-spacing: 0.563px;
}

.weathernews-leftbottom{
    width: 45%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.weathernews-leftbottom > .top{
    width: 100%;
    border-radius: 19px 19px 0px 0px;
    background: #FF4ADE;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weathernews-leftbottom > .top h1{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 600;
}

.weathernews-leftbottom > .bottom{
    width: 100%;
    background: #101744;
    height: 75%;
    border-radius:  0px 0px 19px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weathernews-leftbottom > .bottom > div{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weathernews-leftbottom > .bottom > div img{
    height: 2rem;
    width: 2rem;
}

.weathernews-leftbottom > .bottom > div h3{
    font-size: 0.7rem;
}

.weathernews-leftbottom > .bottom > div h1{
    font-size: 1.5rem;
    font-family: Roboto;
    margin-top: 2px;
}

.weathernews-leftbottom > .bottom > div .vector{
    height: 1rem;
    width: 0.5rem;
    margin-right: 5px;
}

.weathernews-leftbottom > .bottom > div > div{
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}

.weathernews-leftbottom > .bottom > div > div p{
    font-family: Roboto;
    font-size: 12px;
}

.weathernews-right{
    width: 20%;
    height: 75%;
}

.weathernews-right .top{
    height: 60%;
    width: 100%;
    border-radius: 19px 19px 0px 0px;
    position: relative;
}

.weathernews-right .top img{
    height: 100%;
    width: 100%;
}

.weathernews-right .top div{
    background: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 31%;
    position: absolute;
    top: 11rem;
}

.weathernews-right .top div h1{
    font-family: Roboto;
    font-size: 20px;
    max-width: 80%;
    margin-left : 1rem;
    margin-top : 1rem;
    font-weight: 500;
    letter-spacing: 0.64px;
}

.weathernews-right .top div p{
    font-family: Roboto;
    font-size: 13.249px;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 4px;
}

.weathernews-right .bottom{
    height: 40%;
    width: 100%;
    border-radius: 0px 0px 19px 19px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.weathernews-right .bottom p{
    color: #272727;
    text-align: justify;
    font-family: Roboto;
    font-size: 13px;
    max-width: 80%;
    position: absolute;
    top:1rem;
}